.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    transition: transform 0.4s var(--bezier);
    z-index: 10;
    border-bottom: var(--border);
    max-height: 6rem;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}


.HeaderHidden {
    transform: translateY(-100%);

}

.Container {
    width: 33%;
}

.LogoContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.LogoContainer h2 {
    font-size: 2rem;
    font-variation-settings: "wdth" 200, "wght" 200;

}

.LogoSvgContainer {
    display: flex;
    align-items: center;
    animation: spin 20s linear infinite
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}