.Main {
    height: 100vh;
    width: 100vw;
    background: rgb(255, 253, 247);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) .005em, transparent .05em), linear-gradient(90deg, rgba(0, 0, 0, 0.2) .005em, transparent .05em);
    background-size: 0.5vw 0.5vw;
    overflow: hidden;
    position: relative;
}

.Overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: 2;
    transition: background-color 0.4s var(--bezier), opacity 0.4s var(--bezier);
    pointer-events: none;
}

.OverlayVisible {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.18);
    pointer-events: all;
    backdrop-filter: blur(2px);
}

.CanvasContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.Container {
    height: 100vh;
    width: 100vw;
    transition: scale 0.1s linear;
}



.Project {
    transition: scale 0.1s var(--bezier)
}