@keyframes backgroundMove {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}



/* Login Form Stuff */

.FormContainer {
    background-color: white;
    border: var(--border);
    box-shadow: var(--boxshadow-large);
    height: 25rem;
    width: 50rem;
    display: flex;
    align-items: center;
}

.TitleContainer {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px dashed var(--black);
    width: 50%;
    gap: 2rem;
}

.Title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Title h2 {
    font-size: 4rem;
}


.Title p span {
    border-bottom: 5px dotted;
    border-image: linear-gradient(to right,
            var(--pastel-green) 0 33%,
            var(--active-blue) 33% 66%,
            var(--action-pink) 66% 100%) 1;
    text-transform: uppercase;
    font-weight: 500;
    transform-origin: center;
}

.Logo {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
    width: 50%;
}

.PasswordContainer,
.EmailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px dashed var(--black);
    padding-bottom: 1rem;
}

.EmailContainer {
    border-top: 1px dashed var(--black);
    padding-top: 1rem;
}

.PasswordContainer label,
.EmailContainer label {
    min-width: 5rem;
}

.PasswordContainer input,
.EmailContainer input {
    min-width: 14rem;
}

.ButtonContainer {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    flex-direction: column;
}

.Buttons {
    display: flex;
    gap: 1rem;
}

.Buttons button {
    padding: 0.5rem 1rem;
    border: var(--border);
    box-shadow: var(--boxshadow-large);
    width: fit-content;
    transition: scale 0.2s var(--bezier), filter 0.2s var(--bezier)
}

.Buttons button:hover {
    scale: 1.03;
    filter: brightness(1.2)
}

.Buttons button:nth-of-type(1) {
    background-color: var(--yellow);
}

.Buttons button:nth-of-type(2) {
    background-color: var(--pastel-green);
}

.ForgotPassword {
    font-size: 0.6rem;
    letter-spacing: normal;
    border-bottom: var(--border);
    cursor: pointer;
}







/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}