.Form {
    height: 100vh;
    width: 100%;
    padding: 1rem;
}

.Form * {
    letter-spacing: 0.8px;
}



.FormContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.FormCell,
.FormCellDate {
    display: flex;
    align-items: left;
    gap: 0.5em;
    width: fit-content;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 0;

}

.FormCell:nth-of-type(1) {

    border-top: none;
}

.FormCellDate {
    max-height: 0px;
    transform: scaleY(0);
    opacity: 0;
    transition: max-height 0.4s var(--bezier), transform 0.2s var(--bezier), opacity 0.1s var(--bezier)
}

.DateFieldIsVisible {
    max-height: 100px;
    transform: scaleY(1);
    opacity: 1;

    font-weight: 200;
}

.FormCell label {
    min-width: 4rem;
    font-weight: 1.5rem;
    font-weight: 800;

}

.FormCell input {
    width: 100%;
}


.FormCell textarea {
    min-height: 4rem;
    font-style: thin;
}

.TagsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Tags {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 14em;
    padding: 0.5em 1em;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.SubmitField {
    max-height: 0;
    overflow: hidden;
    gap: 1em;
    border: none;
    transform: scaleY(0);
    opacity: 0;
    transition: max-height 0.4s ease-out, transform 0.2s ease-out;
    transform-origin: top;
    display: none;
}

.SubmitFieldVisible {
    max-height: 100px;
    opacity: 1;
    transform: scaleY(1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.SubmitField div {
    border: var(--border);
    padding: 0.5em 1em;
}

.Tags::-webkit-scrollbar {
    width: 8px;
}

.Tags::-webkit-scrollbar-track {
    background-color: transparent;
}

.Tags::-webkit-scrollbar-thumb {
    background-color: #555;
}

.Tags::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Tag,
.Project,
.AddTag,
.AddProject {
    border: var(--border);
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 0.8rem;
}

.Tag,
.Project {
    background-color: var(--lightestblue);
    border-radius: 30px;

}

.AddTag,
.AddProject {
    background-color: var(--lightestblue);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    font-size: 0.7rem;
}

.Tag:hover,
.Project:hover,
.AddTag:hover,
.AddProject:hover,
.SubmitButton:hover,
.Submit:hover {
    cursor: pointer;
}

.SvgContainer {
    transition: transform 0.2s var(--bezier);
    height: fit-content;
    width: fit-content;
    display: flex;
}

.AddTag:hover .SvgContainer,
.AddProject:hover .SvgContainer {
    transform: rotate(90deg);
}


.Tag:active,
.Project:active,
.AddTag:active,
.AddProject:active,
.SubmitButton:active {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0px 0px 0px var(--black);
    filter: brightness(1.1);
}

.Legend {
    width: fit-content;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
}

.LegendRow {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.LegendRow div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid var(--black);
}

.LegendRow:first-of-type div {
    background-color: var(--lightestblue);
}

.LegendRow:nth-of-type(2) div {
    background-color: var(--accentgreen);
}


.TagClicked {
    background-color: var(--accentgreen);
}

.ButtonContainer {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.SubmitButton {
    border: var(--border);
    background-color: var(--accentgreen);
    display: flex;
    align-items: center;
    box-shadow: var(--boxshadow-small);
    font-size: 0.7rem;
}

.SubmitButton:hover {
    cursor: pointer;
    scale: 1.02
}


.Submit {
    padding: 0.5em 1em;
    width: fit-content;
    align-self: flex-end;
    background-color: var(--lightblue);
    border: var(--border);
    box-shadow: var(--boxshadow-small);
    font-size: 0.9rem;
}


.InputProject,
.InputTag {
    border: none !important;
    display: flex;
    padding-bottom: 0rem !important;
    gap: 1em;

}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}