.Navbar {
    display: flex;
    width: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.NavbarList {
    display: flex;
    gap: 3rem;
}

.NavbarList li {

    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
}

.Link {
    position: relative;
    z-index: 2;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
}

/* .NavbarList li::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transform: translateY(-100%);
    transition: transform 0.3s var(--bezier)
}

.NavbarList li::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transform: translateY(100%);
    transition: transform 0.3s var(--bezier);
    transition-delay: 0.2s
}

.NavbarList li:hover:before,
.NavbarList li:hover:after {
    background-color: var(--yellow);
    transform: translateY(0);
} */

.NavbarList li::before {
    content: "";
    height: 5%;
    width: 100%;
    position: absolute;
    background-color: var(--black);
    transform: translateY(calc(100% + 10px));
    transition: transform 0.2s var(--bezier);
    bottom: 5px;
}

.NavbarList li:hover::before {
    transform: translateY(calc(0% + 5px));
}