.Navbar {
    display: flex;
    width: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.NavbarList {
    display: flex;
    gap: 3rem;
}

.NavbarList li {
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
}

.Link {
    position: relative;
    z-index: 2;
    padding: 0.5rem 0.75rem;
    font-size: 0.7rem;
    border: var(--border);
}

.NavbarList li::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.NavbarList li::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0.2s
}

.NavbarList li:hover:before,
.NavbarList li:hover:after {
    background-color: var(--yellow);
    transform: translateY(0);
}