.ProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 30rem;
    gap: 0.5rem;
    border: var(--border);
    padding: 1rem;
    border-radius: var(--radius);
}

.SelectButton {
    border: var(--border);
    padding: 0.5rem 1rem;
}

.Project {
    padding: 0.5rem 1rem;
    border: var(--border);
    border-radius: var(--radius);
    width: fit-content;
    cursor: pointer;
}

.Project:hover:last-of-type {
    background-color: rgb(255, 181, 181);
}

.Project h3 {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.Project:hover {
    scale: 1.04;
}

.Active {
    outline: 0.5px solid black;
    outline-offset: 4px;
}