.LoginSection {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}

.LoginSection a {
    padding: 0.5rem 0.75rem;
    font-size: 0.7rem;
    border: var(--border);
    font-variation-settings: "wdth" 200, "wght" 200;
    box-shadow: 0px 0px 0px var(--black);

}


.LoginSection a:active {
    scale: 1;
}