.Form {
    height: 100%;
    width: 100%;
    z-index: 10;
    padding: 2em 2em;
    font-size: 12px;
}

.Form * {
    font-size: 1em;
}

.FormContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.FormCell {
    display: flex;
    align-items: left;
    gap: 0.5em;
    width: fit-content;
    flex-direction: column;
    width: 100%;
}

.FormCell label {
    min-width: 5em;
}

.FormCell input {
    width: 100%;
}

.TagsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.Tags {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 14em;
    padding: 0.5em 1em;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.SubmitField {
    max-height: 0;
    overflow: hidden;
    gap: 1em;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: scaleY(0);
    transition: max-height 0.3s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
    transform-origin: top;
}

.SubmitFieldVisible {
    max-height: 100px;
    opacity: 1;
    transform: scaleY(1);
}

.SubmitField div {
    border: 1px solid black;
    padding: 0.5em 1em;
}

.Tags::-webkit-scrollbar {
    width: 8px;
}

.Tags::-webkit-scrollbar-track {
    background-color: transparent;
}

.Tags::-webkit-scrollbar-thumb {
    background-color: #555;
}

.Tags::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Tag,
.Project,
.AddTag,
.AddProject {
    border: 1px solid black;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 30px;
    font-size: 0.65rem;
}

.Tag,
.Project {
    background-color: lightblue;
}

.AddTag,
.AddProject,
.SubmitField div {
    background-color: azure;
}


.Tag:hover,
.Project:hover,
.AddTag:hover,
.AddProject:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(1.1);
}

.Tag:hover,
.Project:hover,
.AddTag:hover,
.AddProject:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(1.1);
}

.TagClicked {
    background-color: beige;
}

.SubmitButton {
    border: 1px solid black;
    padding: 0.25rem 0.3rem;
    background-color: chartreuse;
}

/* .Tag {
    background-color: rgb(192, 255, 200);
}

.Project {
    background-color: rgb(127, 223, 255);
} */

.Submit {
    padding: 0.5em 1em;
    width: fit-content;
    align-self: flex-end;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}