.Form {
    height: 100%;
    width: 100%;
    z-index: 10;
    padding: 2em 2em;
    font-size: 12px;
}

.Form * {
    font-size: 1em;
}

.FormContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.FormCell {
    display: flex;
    align-items: left;
    gap: 0.5em;
    width: fit-content;
    flex-direction: column;
    width: 100%;
}

.FormCell label {
    min-width: 5em;
}

.FormCell input {
    width: 100%;
}



.Tags {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 8.5em;
    padding: 0.5em 0;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 0.5em;
}

.Tags::-webkit-scrollbar {
    width: 8px;
}

.Tags::-webkit-scrollbar-track {
    background-color: transparent;
}

.Tags::-webkit-scrollbar-thumb {
    background-color: #555;
}

.Tags::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Tag,
.Project {
    border: 1px solid black;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 30px;
    background-color: lightblue;
    font-size: 0.65rem;
}


.Tag:hover,
.Project:hover {
    cursor: pointer;
}

/* .Tag {
    background-color: rgb(192, 255, 200);
}

.Project {
    background-color: rgb(127, 223, 255);
} */

.Submit {
    padding: 0.5em 1em;
    width: fit-content;
    align-self: flex-end;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}