.Main {
    display: flex;
    flex-direction: column;
    bottom: 40rem;
    right: 2rem;
    position: absolute;

}

.Container {
    width: 25rem;
    resize: both;
    border: var(--border);
    background-color: white;
    box-shadow: var(--boxshadow-large);
    position: absolute;

}

.FoldArrowContainer {
    padding: 1em;
    border: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow);
    box-shadow: var(--boxshadow-large);
    width: 25rem;
}

.FoldArrowDiv {
    height: 100%;
    width: 2rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FoldArrow {
    height: 0.6em;
    width: 0.6em;
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    rotate: 135deg;
}

.FormContainer,
.Container {
    transform: scaleY(1);
    transform-origin: top;
    overflow: hidden;
    border-top: none;
    transition-delay: display 0.2s;
    transition: transform 0.3s var(--bezier)
}

.FormContainerClosed {
    transform: scaleY(0);
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}