.Main {
    background-color: white;
    height: fit-content;
    min-height: 25rem;
    width: fit-content;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 10px;
    border: var(--border);
}


/* Signup Form Stuff */


.FormContainer,
.TitleContainer {
    padding: 2rem;
    height: 40rem;
    width: 40vw;

}


.TitleContainer {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: var(--border);
    gap: 2rem;
}

.Title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    justify-content: center;
}

.Title {
    display: flex;
    flex-direction: column;
}

.Title h2 {
    font-size: 4rem;
}

.Title p {
    padding-left: 1rem;
}


.Title p span {
    border-bottom: 5px solid;
    text-transform: uppercase;
    font-weight: 500;
    transform-origin: center;
}

.Logo {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
    width: 50%;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px dashed var(--fontblue);
    padding-bottom: 1rem;
}

.Container:nth-of-type(1) {
    border-top: 1px dashed var(--fontblue);
    padding-top: 1rem;
}


.Container:has(button) {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    flex-direction: column;
    border-bottom: none;
}

.Buttons {
    display: flex;
    gap: 1rem;
}

.Buttons button {
    padding: 0.5rem 1rem;
    border: var(--border);
    box-shadow: var(--boxshadow-small);
    width: fit-content;
    transition: filter 0.2s var(--bezier)
}








/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}