.Form {
    position: relative;
    background-color: white;
    min-height: 30rem;
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 0;
}

.Form h5 {
    font-variation-settings: "wdth" 200, "wght" 300;
}




.Form form {
    min-height: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.Form form h2 {
    align-self: flex-start;
    justify-self: baseline;
}

.Container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
    height: 25rem;
    width: 100%;
}

.StepContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
}

.FormRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}


.FormRow input {
    border: none;
    border-bottom: var(--border);
    font-variation-settings: "wdth" 200, "wght" 200;

}




.SameLineContainer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}



.ButtonContainer {
    display: flex;
    padding: 1rem;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.ButtonContainer p {
    font-size: 0.8rem;
}

.ButtonContainer button {
    padding: 0.5rem 1rem;
    border: var(--border);
    box-shadow: var(--boxshadow-small);
    font-size: 0.8rem;
}

.ButtonDisabled {
    opacity: 0.4;
    box-shadow: none !important;
}

.OtherAuth {
    display: flex;
    gap: 1rem;

}

.OtherAuth button {
    border: var(--border);
    box-shadow: var(--boxshadow-small);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ErrorInput {
    border: 1px solid rgb(191, 41, 41);
}

.ErrorText {
    color: rgb(191, 41, 41);
    font-size: 0.6em;
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 1rem;
    margin: 0;
    line-height: 1rem;
}