.Container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: transform 0.6s var(--bezier);
    transform: translateY(20vh);
}

.ContainerVisible {
    transform: translateY(0);
    transition: transform 0.6s var(--bezier)
}

.ButtonContainer {
    position: relative;
    background-color: var(--lightestblue);
    border: var(--border);
    box-shadow: var(--boxshadow-small);
}

.ButtonContainer button {
    padding: 1rem 1rem;
}

.ButtonContainer:hover {
    filter: brightness(1.2);
    scale: 1.02;
}