:root {}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

h2,
h4 {
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}

label {
  font-weight: 600;
  text-transform: uppercase;
}

input,
textarea {
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  font-family: inherit;
}

input:focus {
  outline: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}