@import url("https://use.typekit.net/eef8mxd.css");

@import url("https://use.typekit.net/eef8mxd.css");

::-moz-selection {
  /* Code for Firefox */
  background: var(--accentgreen);
}

::selection {
  background: var(--accentgreen);
}

:root {
  --black: rgb(67, 67, 67);
  --bezier: cubic-bezier(0.47, 0, 0.75, 1);
  --boxshadow-large: 4px 4px 1px var(--black);
  --boxshadow-small: 2px 2px 1px var(--black);
  --border: 0.5px groove var(--black);
  --accentgreen: rgba(225, 255, 18, 1);
  --accentgreen-low: rgba(255, 255, 17, 0.25);
  --radius: 5px;
  --headerheight: 3rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  color: var(--fontblue);
  font-family: "sztos-variable", sans-serif;
  font-variation-settings: "wdth" 200, "wght" 400;
}

html {
  overflow-y: scroll;
  max-height: 100vh;
  overflow-x: hidden;
}

html,
body {
  max-width: 100vw;

}

body {
  width: 100vw;
  height: fit-content;
  position: relative;
}

h1 {
  font-weight: 500;
}

h2,
h4 {
  text-transform: uppercase;
  font-weight: 500;
}


a,
p,
button {
  color: inherit;
  text-decoration: none;
  font-variation-settings: "wdth" 200, "wght" 100;
}

a:hover,
button:hover {
  background-color: var(--accentgreen);
}

a,
button {
  border: var(--border);
  box-shadow: var(--boxshadow-small);
  border-radius: var(--radius);
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  text-transform: lowercase;
}

button:hover {
  cursor: pointer;
}

label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8rem;
}

input,
textarea {
  border: var(--border);
  padding: 0.5rem;
  font-size: 0.7rem;
  font-family: inherit;
  transition: background-color 0.2s var(--bezier);
}

input:focus,
textarea:focus {
  outline: none;
  background-color: var(--lightestblue);

}

li {
  list-style-type: none;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}