.PricingSection {
    position: absolute;
    top: var(--headerheight);
    left: 0;
    height: calc(100vh - var(--headerheight));
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PricingContainer {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    gap: 2rem;
}

.TitleContainer h2 {
    font-variation-settings: "wdth" 200, "wght" 600;
    font-size: 2.5rem;

}

.CardContainer {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}