.Topbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transform: translateY(-3rem);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

}


.TopbarVisible {
    transform: translateY(0);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.TopbarContainer {
    width: 100vw;
    height: 3rem;
    padding: 0.5rem 3rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.ArrowDown {
    transform: translateY(-1.5px);
}

.Fill {
    transition: fill 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.Navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.NavbarItems {
    display: flex;
    height: 100%;
}

.NavbarItems li {
    list-style-type: none;
    font-size: 0.7rem;
    position: relative;
    border-right: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.NavbarItems li::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transform: translateY(-100%);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.NavbarItems li::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--yellow);
    transform: translateY(100%);
    transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0.2s
}

.NavbarItems li:hover::before {
    background-color: var(--yellow);
    transform: translateY(0);

}

.NavbarItems li:hover::after {
    background-color: var(--yellow);
    transform: translateY(0);
}

.NavbarItems li:nth-of-type(1) {
    border-left: 1px solid black;
}

.NavbarItems li a {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    height: 100%;
    padding: 0rem 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.UserIconContainer {
    position: relative;
    cursor: pointer;
}

.TooltipContent {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    min-width: 15rem;
    font-size: 0.8rem;
    overflow: hidden;
    transition: max-height 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
}

.TooltipContent p {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid black;
}

.TooltipVisible {
    max-height: 400px;
    transform: scaleY(1);
    opacity: 1;
}

.TooltipContent button {
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: var(--active-blue);
    transition: filter 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.TooltipContent button:hover {
    filter: brightness(1.1)
}