.Topbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transform: translateY(-3rem);
    transition: transform 0.3s var(--bezier);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

}


.TopbarVisible {
    transform: translateY(0);
    transition: transform 0.3s var(--bezier);
}

.TopbarContainer {
    width: 100vw;
    height: 3rem;
    padding: 0.5rem 3rem;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.ArrowDown {
    transform: translateY(-1.5px);
}

.Fill {
    transition: fill 0.3s var(--bezier)
}

.Navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.NavbarItems {
    display: flex;
    height: 100%;
}

.NavbarItems li {
    list-style-type: none;
    font-size: 0.7rem;
    position: relative;
    border-right: var(--border);
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.NavbarItems li::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--lightestblue);
    transform: translateY(-100%);
    transition: transform 0.3s var(--bezier)
}

.NavbarItems li::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--lightestblue);
    transform: translateY(100%);
    transition: transform 0.3s var(--bezier);
    transition-delay: 0.2s
}

.NavbarItems li:hover::before {
    background-color: var(--lightestblue);
    transform: translateY(0);

}

.NavbarItems li:hover::after {
    background-color: var(--lightestblue);
    transform: translateY(0);
}

.NavbarItems li:nth-of-type(1) {
    border-left: var(--border);
}

.NavbarItems li a {
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    height: 100%;
    padding: 0rem 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.UserIconContainer {
    position: relative;
    cursor: pointer;
}

.TooltipContent {
    position: absolute;
    background-color: white;
    border: var(--border);
    box-shadow: var(--boxshadow-large);
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
    min-width: 18rem;
    font-size: 0.8rem;
    overflow: hidden;
    transition: max-height 0.3s ease-out, transform 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;
}

.TooltipVisible {
    max-height: 1000px;
    transform: scaleY(1);
    opacity: 1;
    transition-delay: opacity 0.2s;
}

.TooltipLink {
    padding: 1rem;
    border-bottom: var(--border);
}

.TooltipLink:hover {
    background-color: var(--lightestblue);
}

.TooltipLink:has(button) {
    border: 0px;
}

.TooltipLink:has(a) {
    display: flex;
    gap: 2rem;
    text-transform: lowercase;
}

.TooltipLink:has(a) p {
    font-weight: 600;
}

.TooltipLink:has(button):hover,
.TooltipLink:has(h4):hover {
    background-color: inherit;
}

.TooltipContent h4 {
    font-size: 1rem;
}

.TooltipContent button {
    cursor: pointer;
    text-align: center;
    width: fit-content;
    padding: 0.5rem 1rem;
    border: var(--border);
    background-color: var(--lighterblue);
    transition: filter 0.2s var(--bezier);
    box-shadow: var(--boxshadow-small);
    font-size: 0.7rem;
}

.TooltipContent button:hover {
    filter: brightness(1.1)
}