.Project {
    background-color: white;
    border: var(--border);
    width: 20rem;
    transition: scale 0.05s linear;
    transform-origin: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: var(--radius);
    box-shadow: 3px 3px 10px rgb(221, 221, 221);
}

.Project *::-moz-selection {
    /* Code for Firefox */
    background: transparent;
}

.Project *::selection {
    background: transparent;
}

.TitleContainer {
    background-color: var(--accentgreen);
    padding: 0.5rem 1rem;
    border-bottom: var(--border);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.TitleContainer h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-variation-settings: "wdth" 200, "wght" 300;

}

.IdeaContainer {

    border-top: var(--border);
}

.IdeaContainerLower {
    padding: 1rem;
    border-top: var(--border)
}

.Project label {
    font-variation-settings: "wdth" 200, "wght" 300;

}

.IdeaDropdownContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.DueDateContainer {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative
}

.DueDate {
    border: none;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
}

.DueDateIndicator {
    height: 10px;
    width: 10px;
    border: var(--border);
    transform: translateY(-2px);
    position: relative;
}


.DueDateTooltip {
    visibility: hidden;
    position: absolute;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    min-width: 8rem;
    font-size: 0.65rem;
    background-color: white;
    border: var(--border);
    top: calc(100% + 1px);
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DueDateTooltip span {
    text-decoration: underline;
}

.DueDate:hover .DueDateTooltip {
    visibility: visible;

}

.Date {
    padding: 0.5rem;
    font-size: 0.7rem;
}

.TagsContainer,
.DescriptionContainer {
    padding: 0.5rem 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    font-size: 0.8rem;
}

.Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.Tag {
    padding: 0.25rem;
    border: var(--border);
    border-radius: var(--radius);
    font-size: 0.6rem;
    background-color: rgb(199, 255, 177);
    font-variation-settings: "wdth" 200, "wght" 200;
}

.IdeaDropdownContainer {
    position: relative;
    width: 100%;
}

.DropdownButton {
    width: 100%;
    padding: 0.5rem;
    font-size: 0.7rem;
    cursor: pointer;
    background-color: white;
    text-align: left;
    border: var(--border);
    box-shadow: none;
}

.OptionsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-left: var(--border);
    border-right: var(--border);
    border-top: var(--border);
    border-radius: var(--radius);
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;

}

.Option {
    cursor: pointer;
    border-bottom: var(--border);
    padding: 0.5rem;
    font-size: 0.7rem;
}

.Option:nth-of-type(1) {
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);

}


.Option:last-of-type {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.Option:hover {
    background-color: var(--accentgreen);
}