.SecondSectionContainer {
    display: flex;
    position: relative;
    padding: 0 3rem;
}

.CardGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 3rem;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 0 5rem;
}

.Card {
    border: var(--border);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: white;
    box-shadow: var(--boxshadow-large);

}

.Card:nth-of-type(even) {

    flex-direction: row-reverse
}


.Card h2,
.Card p {
    width: fit-content;

}

@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.Card h2 {
    position: relative;
}

@keyframes movingGradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Card h2::before,
.Card h2::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    background: linear-gradient(to right,
            var(--lightblue) 0%,
            var(--lighterblue) 33%,
            var(--lighterblue) 66%,
            var(--lightblue) 100%);
    background-size: 200% 100%;
}

.Card h2::before {
    top: -4px;
}

.Card h2::after {
    bottom: -4px;
}

.Card:hover h2::before,
.Card:hover h2::after {
    animation: movingGradient 2s linear infinite;
}

.CardText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
    max-width: 70%;
}

.LinkContainer {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.LinkContainer a {
    padding: 0.5rem 0.75rem;
    border: var(--border);
    background-color: white;
    box-shadow: var(--boxshadow-small);
}

.LinkContainer a:hover {
    filter: brightness(1.05)
}

.CardImage {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    max-height: 16rem;
    position: relative;
}

.CardImage img {
    scale: 0.8;
    width: auto;
    object-fit: contain;

}