.TextContentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.TitleContainer {
    width: 80%;
}

.TitleContainer h1 {
    font-size: 2.5rem;
    max-width: 100%;
    line-height: 1.5;
    font-weight: 500;
    overflow: hidden;

}

.TitleContainer h1:nth-of-type(1) {
    border-bottom: 10px solid;
    border-image: linear-gradient(to right,
            var(--pastel-green) 0 33%,
            var(--active-blue) 33% 66%,
            var(--action-pink) 66% 100%) 1;
}

.TextContentSection p {
    padding: 1rem 0;
    max-width: 80%;
    line-height: 1.5;
    font-size: 1rem;
}

.TitleContainer h1 span:nth-of-type(1) {
    text-transform: uppercase;
    font-size: 5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.Creativity {


    text-transform: uppercase;
    font-weight: 700;
    transform-origin: center;
    font-size: 3rem;
    width: fit-content;
}

.FindOutMoreLink {
    height: fit-content;
    width: 80%;
}


.FindOutMoreLink a {
    padding: 0.75rem 1rem;
    border: var(--border);
    background-color: var(--yellow);
    box-shadow: 2px 2px 1px black;
}

.FindOutMoreLink a:hover {

    filter: brightness(1.04);
    cursor: pointer;
}