.SwitchRow {
    border: var(--border);
    height: 3rem;
    width: 100%;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.Discount {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 0;
    height: 100%;
    background: var(--accentgreen);
    border-left: var(--border);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    transform: translateX(100%);
    transition: transform 0.2s var(--bezier);
}

.DiscountVisible {
    transform: translateX(0);
    transition: transform 0.2s var(--bezier);
}

.Discount div {
    width: fit-content;
    position: relative;
    text-align: center;
}


.SwitchRow h5 {
    font-variation-settings: "wdth" 200, "wght" 200;
    text-transform: uppercase;
}

.SwitchContainer {

    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

.SwitcherContainer {

    border: var(--border);
    border-radius: var(--radius);
    position: relative;
    cursor: pointer;

}

.Switch {
    position: relative;
    height: 1rem;
    width: 3rem;
    padding: 0.2rem;
}

.SwitchToggle {
    position: absolute;
    background-color: var(--accentgreen);
    height: 75%;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    border: var(--border);
    border-radius: 3px;
    transition: transform 0.2s var(--bezier);
}

.IsYearly {
    transform: translateY(-50%) translateX(calc(100% - 0.4rem));
}